---
---

<footer class="border-t py-6 md:px-8 md:py-0">
  <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row">
    <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
      Built by{' '}
      <a
        href="https://github.com/GusLV12/"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        GusLV12
      </a>
      <span class="inline-block align-middle">
        <img src='../../public/dev.svg' alt="DEV Icon" class="h-6 w-6 inline-block align-middle ml-2" />
      </span>
    </p>
  </div>
</footer>
